@model Taller2Net.Models.Product

@{
    ViewData["Title"] = "Manualidades XD";
}

<h1>Manualidades XD</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateStock" method="post">
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" name="stock" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" name="id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vuelve al inicio</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
